SUPABASE_URL=yhttps://nhzmxuvrurokblqsegfp.supabase.co
SUPABASE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oem14dXZydXJva2JscXNlZ2ZwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDUyNzY4MywiZXhwIjoyMDk2MTAzNjgzfQ.9vo-KecTQdhtlBvWE3EfkkcESLEqYVSC1wMlVb6a8C8
APP_ENV=development
